.main-page{
    max-width: 720px;
}
.form-field{
    min-width: 100px !important;
    margin-right:10px !important;
    margin-bottom: 10px !important;
}
.totals{
   border : 1px solid lightgray;
   border-radius: 5px; 
   padding: 10px;
   margin-bottom: 10px;
   width:450px;
   display: inline-block;
}
.totals-item{
    display: inline-block;
    margin-right: 10px;
    font-family: arial;    
}
.totals-item_label{
    display: inline-block;
    color:grey
}

.totals-item_value{
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    color: green;
}

.app-version{
    display: inline-block;
    font-family: arial; 
    font-size: 10px;
    color: gray;   
    margin-left: 10px;
    position: relative;
    top: -10px;
}